.titleContainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    cursor: pointer;
    font-family: Modak;
    font-size: 96px;
    transition: color 0.25s;
}

.email path {
    fill: #C8C1C4;
    transition: fill 0.25s;
}

.email:hover path {
    fill: #D9C343;
}

.gitHub path {
    fill: #C8C1C4;
    transition: fill 0.25s;
}

.gitHub circle {
    fill: #1E1E1E;
    transition: fill 0.25s;
}

.gitHub:hover circle {
    fill: #C8C1C4;
}

.gitHub:hover path {
    fill: #AD73BB;
}

.linkedIn circle {
    fill: #C8C1C4;
    transition: fill 0.25s;
}

.linkedIn path {
    fill: #1E1E1E;
    transition: fill 0.25s;
}

.linkedIn:hover path {
    fill: #C8C1C4;
}

.linkedIn:hover circle {
    fill: #518FB6;
}

.itchIo circle {
    fill: #C8C1C4;
    transition: fill 0.25s;
}

.itchIo path {
    fill: #1E1E1E;
    transition: fill 0.25s;
}

.itchIo:hover path {
    fill: #C8C1C4;
}

.itchIo:hover circle {
    fill: #BF8E7B;
}

.trees{
    position: absolute;
    bottom: 35px;
    width: 100%;
    height: 225px;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: contain;
}

.cloud {
    position: absolute;
    width: 200px;
    animation: cloudMove 20s linear infinite;
}

@keyframes cloudMove {
    from {left: -225px;}
    to {left: 100%;}
}

.logo {
    cursor: pointer;
}

.logo stop {
    stop-color: #C8C1C4;
    transition: 0.25s stop-color;
}

.logo:hover stop:nth-child(1) {
    stop-color: #518FB6;
}

.logo:hover stop:nth-child(2) {
    stop-color: #D9C343;
}

.logo:hover stop:nth-child(3) {
    stop-color: #BF8E7B;
}

.logo:hover stop:nth-child(4) {
    stop-color: #AD73BB;
}

.linkContainer span {
    font-family: Cabin;
    font-size: 24px;
    cursor: pointer;
    color: #C8C1C4;
    transition: 0.25s color;
}

.home:hover {
    color: #518FB6;
}

.aboutMe:hover{
    color: #AD73BB;
}

.projects:hover{
    color: #BF8E7B;
}

.experience:hover {
    color: #D9C343;
}

@media screen and (max-width: 875px) {
    .title {
        font-size: 50px;
    }
}